<div  style=" height: 100% !important;min-height: 100%;">
  <div id="dss-wrap-top-page">
    <div id="dss-page-top">
        <h2>开始</h2><h3>{{username}}<i class="dss-icon48-user"></i></h3>
    </div>
    <div id="dss-page-wrap">
        <ul id="dss-page-cont" ng-transclude></ul>
    </div>
  </div>
  <div class="dss-scroll-bar">
    <div class="dss-bar-l dss-bg-scorll"><i class="dss-ico-scroll-l"></i></div>
    <div class="dss-bar-m">
        <div class="dss-bar"></div>
    </div>
    <div class="dss-bar-r dss-bg-scorll"><i class="dss-ico-scroll-r"></i></div>
  </div>
</div>