<div id="dss-page-question">
    <div class="dss-question">
        <div class="dss-q-cur">
               <div class="dss-q-title">
                <!--
                <span class="dss-q-title-pre" ng-click="preQuestion()"><i class="dss-icon16-pre"></i>{{"question.pre"| translate}}</span><any translate="question.currentItem" translate-values="{current:currentItem.order, total: items.length }"></any>
                <span class="dss-q-title-nxt" ng-click="nextQuestion()">{{"question.next"| translate}}<i class="dss-icon16-nxt"></i></span>
                <i class="dss-icon16-arrow"></i>
                -->
                </div>
                <div class="dss-q-con">
                            <div>{{currentItem.qcontext}}</div>
                            <div class="dss-q-btns">
                                    <button class="dss-btn-nor">{{"question.redo"| translate}}</button>
                                    <button class="dss-btn-act">{{"question.complete"| translate}}</button>
                                    <button class="dss-btn-q-all" ng-click="switchLanguage()"><i class="dss-icon16-switch"></i>{{"question.switchLanguage"|translate}}</button>
                                </div>
                        </div>
                </div>
            <div class="dss-q-all">
                <div class="dss-q-title"><div translate="question.totalItem" translate-values="{ total: items.length }"></div><i class="dss-icon16-arrow"></i></div>
                <ul class="dss-icon-intr">
                    <li class="dss-intr-txt">{{"question.description"| translate}}：</li>
                    <li><i class="dss-icon16-intr-rt"></i>{{"question.answerRight"| translate}}</li>
                <li><i class="dss-icon16-intr-wr"></i>{{"question.answerWrong"| translate}}</li>
                <li class="dss-li-thir"><i class="dss-icon16-intr-info"></i>{{"question.answerUncompleted"| translate}}</li>
                <li><i class="dss-icon16-status-nor"></i>{{"question.didNotAnswer"| translate}}</li>
                </ul>
            <div class="dss-q-con">
                    <ul class="dss-q-con-li">
                            <li ng-repeat="item in items" ng-click="switchQuestion($index)">{{item.order}}<i class="dss-icon16-status-rt"></i></li>
                        </ul>
                </div>
            <div class="dss-q-btm">
                    <button class="dss-btn-q-cur"><i class="dss-icon16-q-cur"></i>{{"question.back"| translate}}</button>
                    </div>
            </div>
        </div>
    <div class="dss-q-btn-close"><i class="dss-icon32-q"></i></div>
    <div ng-transclude></div>
</div>