<div id="dss-page-question">
    <div class="dss-question">
        <div class="dss-q-cur">
            <div class="dss-q-title">
                <span class="dss-q-title-pre"><i class="dss-icon16-pre"></i>上一题</span>
                第 1/42 题
                <span class="dss-q-title-nxt">下一题<i class="dss-icon16-nxt"></i></span>
                <i class="dss-icon16-arrow"></i>
            </div>
            <div class="dss-q-con">
                <ul>
                    <li>请进行快速格式化D盘操作。</li>
                </ul>
                <div class="dss-q-btns">
                    <button class="dss-btn-nor">重做</button>
                    <button class="dss-btn-act">完成</button>
                    <button class="dss-btn-q-all"><i class="dss-icon16-q-all"></i>全部试题</button>
                </div>
            </div>
        </div>
        <div class="dss-q-all">
            <div class="dss-q-title">共42题<i class="dss-icon16-arrow"></i></div>
            <ul class="dss-icon-intr">
                <li class="dss-intr-txt">说明：</li>
                <li><i class="dss-icon16-intr-rt"></i>答题正确</li>
                <li><i class="dss-icon16-intr-wr"></i>答题错误</li>
                <li class="dss-li-thir"><i class="dss-icon16-intr-info"></i>题目未完成或未提交</li>
                <li><i class="dss-icon16-status-nor"></i>题目未作答</li>
            </ul>
            <div class="dss-q-con">
                <ul class="dss-q-con-li">
                    <li>1<i class="dss-icon16-status-rt"></i></li>
                    <li>2<i class="dss-icon16-status-wr"></i></li>
                    <li>3<i class="dss-icon16-status-info"></i></li>
                    <li>4<i class="dss-icon16-status-rt"></i></li>
                    <li>5<i class="dss-icon16-status-rt"></i></li>
                    <li>6<i class="dss-icon16-status-rt"></i></li>
                    <li>7<i class="dss-icon16-status-rt"></i></li>
                    <li>8<i class="dss-icon16-status-rt"></i></li>
                    <li>9<i class="dss-icon16-status-rt"></i></li>
                    <li>10<i class="dss-icon16-status-rt"></i></li>
                    <li>11<i class="dss-icon16-status-rt"></i></li>
                    <li>12<i class="dss-icon16-status-rt"></i></li>
                    <li>13<i class="dss-icon16-status-rt"></i></li>
                    <li>14<i class="dss-icon16-status-rt"></i></li>
                    <li>15<i class="dss-icon16-status-rt"></i></li>
                    <li>16<i class="dss-icon16-status-rt"></i></li>
                    <li>17<i class="dss-icon16-status-rt"></i></li>
                    <li>18<i class="dss-icon16-status-rt"></i></li>
                    <li>19<i class="dss-icon16-status-rt"></i></li>
                    <li>21<i class="dss-icon16-status-rt"></i></li>
                    <li>22<i class="dss-icon16-status-rt"></i></li>
                    <li>23<i class="dss-icon16-status-rt"></i></li>
                    <li>24<i class="dss-icon16-status-rt"></i></li>
                    <li>25<i class="dss-icon16-status-rt"></i></li>
                    <li>26<i class="dss-icon16-status-rt"></i></li>
                    <li>27<i class="dss-icon16-status-rt"></i></li>
                    <li>28<i class="dss-icon16-status-rt"></i></li>
                    <li>29<i class="dss-icon16-status-rt"></i></li>
                    <li>30<i class="dss-icon16-status-rt"></i></li>
                    <li>31<i class="dss-icon16-status-rt"></i></li>
                    <li>32<i class="dss-icon16-status-rt"></i></li>
                    <li>33<i class="dss-icon16-status-rt"></i></li>
                    <li>34<i class="dss-icon16-status-rt"></i></li>
                    <li>35<i class="dss-icon16-status-rt"></i></li>
                    <li>36<i class="dss-icon16-status-rt"></i></li>
                    <li>37<i class="dss-icon16-status-rt"></i></li>
                    <li>38</li>
                    <li>39</li>
                    <li>40</li>
                    <li>41</li>
                    <li>42</li>
                </ul>
            </div>
            <div class="dss-q-btm">
                <button class="dss-btn-q-cur"><i class="dss-icon16-q-cur"></i>返回</button>
            </div>
        </div>
    </div>
    <div class="dss-q-btn-close"><i class="dss-icon32-q"></i></div>
</div>