<div class="dss-winBox">
    <div class="dss-win-outer">
        <div class="dss-win-inner">
            <div class="dss-title-bar">
                <div class="dss-win-title-icon"><i ng-dblclick="Close()" class="{{icon}}"></i></div>
                <div class="dss-window-title dss-title-text">{{name}}</div>
                <div class="dss-window-btn-bar">
                    <a class="dss-minwin-btn" title="最小化"></a><a class="dss-maxwin-btn" title="最大化"></a><a class="dss-closewin-btn" title="关闭"></a>
                </div>
            </div>
            <div class="ngtransclude"></div>

            <div class="dss-window-resize-t"></div>
            <div class="dss-window-resize-r"></div>
            <div class="dss-window-resize-b"></div>
            <div class="dss-window-resize-l"></div>
            <div class="dss-window-resize-rt"></div>
            <div class="dss-window-resize-rb"></div>
            <div class="dss-window-resize-lb"></div>
            <div class="dss-window-resize-lt"></div>
        </div>
    </div>
</div>