<ds-question>
   <ds-question-item order="1" current="true" status="right" starttime="" endtime="" submittime="" lastmodifytime="" qcontext="{{'question.stem'|translate}}"></ds-question-item>
   <ds-question-item order="2" status="right" qcontext="在桌面上新建一个记事本"></ds-question-item>
   <ds-question-item order="3" status="wrong" qcontext="清空回收站"></ds-question-item>
   <ds-question-item order="4" status="uncommitted" qcontext="卸载马花疼软件"></ds-question-item>
   <ds-question-item order="5" status="undo" qcontext="题目未定"></ds-question-item>
</ds-question>
<ds-desktop ng-controller="WinEventCtrl">
  <ds-pages>
    <ds-page visible="false" name="default" id="dss-zoom-wallpaper-grid" xmlns="http://www.w3.org/1999/html">
      <ds-desktop-icons draggable="false">
        <ds-desktop-icon-item id="" icon="dss-icon48-usern" name="user" type="快捷方式"></ds-desktop-icon-item>
        <ds-desktop-icon-item  id="ds-desktop-icon-item-computer" icon="dss-icon48-comp" name="{{'windows.computer'|translate}}" type="快捷方式"></ds-desktop-icon-item>
        <ds-desktop-icon-item  id="" icon="dss-icon48-inte" name="{{'windows.network'|translate}}" type="快捷方式"></ds-desktop-icon-item>
        <ds-desktop-icon-item  id="" icon="dss-icon48-rec" name="{{'windows.recycle'|translate}}" type="快捷方式"></ds-desktop-icon-item>
        <ds-desktop-icon-item  id="ds-desktop-icon-item-note" icon="dss-icon48-note" name="{{'windows.readme'|translate}}" type="快捷方式"></ds-desktop-icon-item>
      </ds-desktop-icons>
      <ds-window ng-controller="WindowCtrl" icon="dss-icon16-computer" id="dsswin-mycomputer" name="{{'windows.computer'|translate}}" width="700" height="450" visible="false" position="center center" minimize="true" maximize="true" close="true">
        <ds-menubar>
            <ds-menu-item id="menubar-file" name="{{'menu.file'|translate}}" shortcut="F" enabled="true" submenu="true">
                <ds-menu-item id="menbar-file-createnew" name="{{'menu.new'|translate}}"shortcut="Ctrl+N" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-open"  name="{{'menu.openWithDot'|translate}}" shortcut="Ctrl+O" icon="dss-icon16-open">
                    <ds-menu-item name="index.html" shortcut="Ctrl+O" icon="dss-icon16-open"></ds-menu-item>
                    <ds-menu-item name="home.html"></ds-menu-item>
                    <ds-menu-item name="page.html"></ds-menu-item>
                    <ds-menu-item name="my.html"></ds-menu-item>
                </ds-menu-item>
                <ds-menu-item id="menbar-file-save" name="{{'menu.save'|translate}}"  shortcut="Ctrl+S" ></ds-menu-item>
                <ds-menu-item id="menbar-file-saveas" name="{{'menu.saveAs'|translate}}"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-pageset" name="{{'menu.pageSetup'|translate}}" enabled="false"></ds-menu-item>
                <ds-menu-item id="menbar-file-print" name="{{'menu.print'|translate}}" shortcut="Ctrl+P" enabled="false" icon="dss-icon16-pr"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-exit"  name="{{'menu.exit'|translate}}"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item id="menubar-edit" name="{{'menu.edit'|translate}}" shortcut="E" enabled="true" submenu="true">
                <ds-menu-item id="menbar-file-undo" name="{{'menu.undo'|translate}}"  shortcut="Ctrl+Z" enabled="true"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-cut" name="{{'menu.cut'|translate}}"  shortcut="Ctrl+X" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-copy" name="{{'menu.copy'|translate}}"  shortcut="Ctrl+C" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-paste" name="{{'menu.paste'|translate}}"  shortcut="Ctrl+V" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-delete" name="{{'menu.delete'|translate}}"  shortcut="Ctrl+L" enabled="true"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-find" name="{{'menu.find'|translate}}"  shortcut="Ctrl+F" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-findnext" name="{{'menu.findNext'|translate}}"  shortcut="F3" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-replace" name="{{'menu.replace'|translate}}"  shortcut="Ctrl+H" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-goto" name="{{'menu.goto'|translate}}"  shortcut="Ctrl+G" enabled="true"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-selectall" name="{{'menu.selectAll'|translate}}"  shortcut="Ctrl+A" enabled="true"></ds-menu-item>
                <ds-menu-item id="menbar-file-datetime" name="{{'menu.timeDate'|translate}}"  shortcut="F5" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item id="menubar-format" name="{{'menu.format'|translate}}" shortcut="O" width="158" enabled="false" submenu="true">
                <ds-menu-item id="menbar-file-autolinewrap"  name="{{'menu.wordWrap'|translate}}"></ds-menu-item>
                <ds-menu-item id="menbar-file-font"  name="{{'menu.font'|translate}}"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item id="menubar-view" name="{{'menu.view'|translate}}" shortcut="V" width="158" enabled="true" submenu="true">
                <ds-menu-item id="menbar-file-status"  name="{{'menu.statusBar'|translate}}"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item id="menubar-help" name="{{'menu.help'|translate}}" shortcut="H" width="158" enabled="true" submenu="true">
                <ds-menu-item id="menbar-file-findhelp"  name="{{'menu.viewHelp'|translate}}"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item id="menbar-file-about"  name="{{'menu.aboutWindows'|translate}}"></ds-menu-item>
            </ds-menu-item>
        </ds-menubar>
        <ds-toolbar font="{'font-size':'12px','line-height':'14px','font-family':'\'Times New Roman\',Georgia,Serif'}">
            <ds-toolbar-item icon="dss-ico-tool-pro" id="dss-ico-tool-pro" tooltip="新建"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-new" enabled="false" tooltip="打开"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-back" tooltip="返回"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-del" tooltip="删除"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-rename" tooltip="重命名"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-custome" tooltip="自定义工具栏" subtool="true" name="自定义工具栏">
               <ds-toolbar-item name="恢复"></ds-toolbar-item>
               <ds-toolbar-item name="撤销"></ds-toolbar-item>
               <ds-toolbar-item name="删除"></ds-toolbar-item>
               <ds-toolbar-item name="新建文件" icon="dss-ico-tool-new"></ds-toolbar-item>
               <ds-toolbar-item name="重命名"></ds-toolbar-item>
            </ds-toolbar-item>
        </ds-toolbar>
        <ds-toolbar class="dss-wrap-tool2-bar">
            <ds-toolbar-item icon="dss-ico-tool-bck"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-for"></ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-sub" subtool="true" width="200px">
                <ds-toolbar-item icon="dss-t-ct-act" name="{{'windows.libraries'|translate}}"></ds-toolbar-item>
                <ds-toolbar-item name="{{'windows.homegroup'|translate}}"></ds-toolbar-item>
                <ds-toolbar-item name="{{'windows.videos'|translate}}"></ds-toolbar-item>
                <ds-toolbar-item name="{{'windows.documents'|translate}}"></ds-toolbar-item>
            </ds-toolbar-item>
            <ds-toolbar-item icon="dss-ico-tool-up"></ds-toolbar-item>
            <ds-toolbar-item>
                <ds-pathnavigation width="300"></ds-pathnavigation>
            </ds-toolbar-item>
            <ds-toolbar-item>
                <ds-search width="320" placeholder="{{'windows.searchComputer'|translate}}"></ds-search>
            </ds-toolbar-item>
        </ds-toolbar>
        <ds-spliter direction="horizontal" is-folding="false">
            <ds-spliter-panel>
                <ds-tree type="WIN8" swapAll="false">
                    <ds-tree-item name="{{'windows.favorites'|translate}}"  id="dssTreeItemFavorite" icon="dss-icon16-favorite" title="" href="" target="_self">
                        <ds-tree-item name="{{'windows.desktop'|translate}}" icon="dss-icon16-desktop"></ds-tree-item>
                        <ds-tree-item name="{{'windows.download'|translate}}" id="tree-item-download" icon="dss-icon16-download"></ds-tree-item>
                        <ds-tree-item name="{{'windows.recentPlaces'|translate}}" icon=""></ds-tree-item>
                    </ds-tree-item>
                    <ds-tree-item name="{{'windows.libraries'|translate}}" icon="dss-icon16-library">
                        <ds-tree-item name="{{'windows.videos'|translate}}" icon="dss-icon16-video">
                            <ds-tree-item name="{{'windows.myVideo'|translate}}" icon="dss-icon16-videos"></ds-tree-item>
                            <ds-tree-item name="{{'windows.publicVideo'|translate}}" icon=""></ds-tree-item>
                        </ds-tree-item>
                        <ds-tree-item name="{{'windows.pictures'|translate}}" icon="dss-icon16-op">
                            <ds-tree-item name="{{'windows.myPictures'|translate}}" icon=""></ds-tree-item>
                            <ds-tree-item name="{{'windows.publicPictures'|translate}}" icon=""></ds-tree-item>
                        </ds-tree-item>
                        <ds-tree-item name="{{'windows.documents'|translate}}" icon="dss-icon16-doc">
                            <ds-tree-item name="{{'windows.myDocuments'|translate}}" icon="dss-icon16-docs"></ds-tree-item>
                            <ds-tree-item name="{{'windows.publicDocuments'|translate}}" icon=""></ds-tree-item>
                        </ds-tree-item>
                        <ds-tree-item name="{{'windows.music'|translate}}" icon="dss-icon16-music">
                            <ds-tree-item name="{{'windows.myMusic'|translate}}" icon="dss-icon16-musics"></ds-tree-item>
                            <ds-tree-item name="{{'windows.publicMusic'|translate}}" icon=""></ds-tree-item>
                        </ds-tree-item>
                    </ds-tree-item>
                    <ds-tree-item name="{{'windows.homegroup'|translate}}" icon="">
                        <ds-tree-item name="Node 02" icon=""></ds-tree-item>
                    </ds-tree-item>
                    <ds-tree-item name="{{'windows.computer'|translate}}" id="dssTreeItemDesktop" icon="dss-icon16-computer">
                        <ds-tree-item ds-bind-popmenu="popmenu110" name="{{'windows.localDisk'|translate}}(C:)" icon="dss-icon16-disk-c"></ds-tree-item>
                        <ds-tree-item ds-bind-popmenu="popmenu110" name="{{'windows.localDisk'|translate}}(D:)" icon="dss-icon16-disk-d"></ds-tree-item>
                    </ds-tree-item>
                    <ds-tree-item name="{{'windows.network'|translate}}" icon="">
                        <ds-tree-item name="Node 02" icon=""></ds-tree-item>
                        <ds-tree-item name="Node 02" icon=""></ds-tree-item>
                    </ds-tree-item>
                </ds-tree>
            </ds-spliter-panel>
            <ds-spliter-panel ds-bind-popmenu="popmenu001">
               <ds-pages>
                 <ds-page id="dsPageMyFavorite" visible="false">
                  <ds-panel>
                      <ds-list type="mid">
                          <ds-list-group>
                            <ds-list-item icon="dss-icon48-download" name="{{'windows.download'|translate}}" id="" type="快捷方式" modifytime="2014/2/13 17:22" filesize="121.k"></ds-list-item>
                            <ds-list-item icon="dss-icon48-desktop" name="{{'windows.desktop'|translate}}" id="" type="快捷方式" modifytime="2014/2/13 17:22" filesize="121.k"></ds-list-item>
                            <ds-list-item icon="dss-icon48-visit" name="{{'windows.recentPlaces'|translate}}" id="" type="快捷方式" modifytime="2014/2/13 17:22" filesize="121.k"></ds-list-item>
                          </ds-list-group>
                          <table class="dss-list-detail">
                               <thead>
                               <tr>
                                   <th><span>名称<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                   <th><span>修改日期<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                   <th><span>类型<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                   <th><span>大小<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                                   <td><span><i class="dss-icon16-download"></i>下载</span></td>
                                   <td><span>2014/1/3 15:40</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>98 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-desktop"></i>桌面</span></td>
                                   <td><span>2014/3/1 13:44</span></td>
                                   <td><span>文件夹二</span></td>
                                   <td><span>1782 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-visit"></i>最近打开的文件</span></td>
                                   <td><span>2013/11/3 15:01</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>1983 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>下载</span></td>
                                   <td><span>2014/1/3 15:40</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>87 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>桌面</span></td>
                                   <td><span>2014/3/1 13:44</span></td>
                                   <td><span>文件夹2</span></td>
                                   <td><span>1042 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>最近打开的文件最近打开的文件</span></td>
                                   <td><span>2013/11/3 15:01</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>1923 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>下载最近打开的文件</span></td>
                                   <td><span>2014/1/3 15:40</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>72 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>桌面最近打开的文件</span></td>
                                   <td><span>2014/3/1 13:44</span></td>
                                   <td><span>文件夹1</span></td>
                                   <td><span>1042 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>最近打开的文件最近打开的文件</span></td>
                                   <td><span>2013/11/3 15:01</span></td>
                                   <td><span>快捷方式a</span></td>
                                   <td><span>1323 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>下载</span></td>
                                   <td><span>2014/1/3 15:40</span></td>
                                   <td><span>快捷方式b</span></td>
                                   <td><span>132 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>桌面</span></td>
                                   <td><span>2014/3/1 13:44</span></td>
                                   <td><span>文件夹一</span></td>
                                   <td><span>1242 KB</span></td>
                               </tr>
                               <tr>
                                   <td><span><i class="dss-icon16-file"></i>最近打开的文件</span></td>
                                   <td><span>2013/11/3 15:01</span></td>
                                   <td><span>快捷方式</span></td>
                                   <td><span>1123 KB</span></td>
                               </tr>
                               </tbody>
                           </table>
                      </ds-list>
                  </ds-panel>
               </ds-page>
                 <ds-page id="dsPageMyComputer" visible="true">
                    <ds-panel>
                        <ds-list type="TILE" c="dss-disk">
                           <ds-list-group name="{{'windows.hardDiskDrives'|translate}}">
                               <ds-list-item ds-bind-popmenu="popmenuC" icon="dss-icon48-disk-c" name="{{'windows.localDisk'|translate}}(C:)" id="dss-disk-c" diskspace="75%" type="快捷方式" modifytime="2014/2/13 17:22" filesize="{{'windows.freeSizeOfDisk'|translate:'{ free:30,total:120 }'}}"></ds-list-item>
                               <ds-list-item ds-bind-popmenu="popmenuD" icon="dss-icon48-disk-d" name="{{'windows.localDisk'|translate}}(D:)" id="dss-disk-d" diskspace="17%" type="快捷方式" modifytime="2014/2/13 17:22" filesize="{{'windows.freeSizeOfDisk'|translate:'{ free:100,total:120 }'}}"></ds-list-item>

                           </ds-list-group>
                           <ds-list-group name="{{'windows.devicesWithRemovableStorage'|translate}}">
                               <ds-list-item ds-bind-popmenu="popmenuD" icon="dss-icon48-disk-driver" name="DVD {{'windows.driver'|translate}} (F:)" id="" type="HRM_CCSA_X64FRE_ZH-CN_DV5" modifytime="2014/2/13 17:22" filesize="{{'windows.freeSizeOfDisk'|translate:'{ free:33,total:120 }'}}"></ds-list-item>
                            </ds-list-group>
                           <table class="dss-list-detail">
                                <thead>
                                <tr>
                                    <th><span>名称<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                    <th><span>修改日期<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                    <th><span>类型<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                    <th><span>大小<i class="dss-ico-sort-arrow"></i><i class="dss-ico-list-arrow"></i><i class="dss-list-split"></i></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span><i class="dss-icon16-download"></i>下载</span></td>
                                    <td><span>2014/1/3 15:40</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>98 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-desktop"></i>桌面</span></td>
                                    <td><span>2014/3/1 13:44</span></td>
                                    <td><span>文件夹二</span></td>
                                    <td><span>1782 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-visit"></i>最近打开的文件</span></td>
                                    <td><span>2013/11/3 15:01</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>1983 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>下载</span></td>
                                    <td><span>2014/1/3 15:40</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>87 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>桌面</span></td>
                                    <td><span>2014/3/1 13:44</span></td>
                                    <td><span>文件夹2</span></td>
                                    <td><span>1042 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>最近打开的文件最近打开的文件</span></td>
                                    <td><span>2013/11/3 15:01</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>1923 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>下载最近打开的文件</span></td>
                                    <td><span>2014/1/3 15:40</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>72 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>桌面最近打开的文件</span></td>
                                    <td><span>2014/3/1 13:44</span></td>
                                    <td><span>文件夹1</span></td>
                                    <td><span>1042 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>最近打开的文件最近打开的文件</span></td>
                                    <td><span>2013/11/3 15:01</span></td>
                                    <td><span>快捷方式a</span></td>
                                    <td><span>1323 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>下载</span></td>
                                    <td><span>2014/1/3 15:40</span></td>
                                    <td><span>快捷方式b</span></td>
                                    <td><span>132 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>桌面</span></td>
                                    <td><span>2014/3/1 13:44</span></td>
                                    <td><span>文件夹一</span></td>
                                    <td><span>1242 KB</span></td>
                                </tr>
                                <tr>
                                    <td><span><i class="dss-icon16-file"></i>最近打开的文件</span></td>
                                    <td><span>2013/11/3 15:01</span></td>
                                    <td><span>快捷方式</span></td>
                                    <td><span>1123 KB</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </ds-list>
                    </ds-panel>
               </ds-page>
               </ds-pages>
            </ds-spliter-panel>
        </ds-spliter>
        <ds-statusbar>
            <span>{{'windows.statusItemsTip'|translate:'{ number: "3" }'}}</span>
            <div><i class="dss-icon16-view-list" title="在窗口中显示每一项的相关信息"></i><i class="dss-icon16-view-big" title="使用大缩略图显示项"></i></div>
        </ds-statusbar>
        <ds-popmenu id="popmenu001">
            <ds-menu-item name="{{'menu.view'|translate}}" icon="" enabled="true">
                <ds-menu-item id="changeListView-Super" name="{{'menu.extraLargeIcons'|translate}}" icon="" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Big"  name="{{'menu.largeIcons'|translate}}" icon=""  enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Mid"  name="{{'menu.mediumIcons'|translate}}" icon="" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Small"  name="{{'menu.smallIcons'|translate}}" icon="" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Normal"  name="{{'menu.list'|translate}}" icon="dss-ico-choose-li" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Detail"  name="{{'menu.details'|translate}}" icon="" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Tile"  name="{{'menu.tiles'|translate}}" icon="" enabled="true"></ds-menu-item>
                <ds-menu-item id="changeListView-Content"  name="{{'menu.content'|translate}}" icon="" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item name="{{'menu.sortBy'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.groupBy'|translate}}" icon="" enabled="false"></ds-menu-item>
            <ds-menu-item name="{{'menu.refresh'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.copy'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.pasteShortcut'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.undoRename'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.shareWith'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.new'|translate}}" icon=""  enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.properties'|translate}}" icon="" enabled="true"></ds-menu-item>
        </ds-popmenu>
        <ds-popmenu id="popmenuC">
            <ds-menu-item name="{{'menu.open'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.openInNewWindow'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.pinToStart'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.shareWith'|translate}}"  id="" icon="" enabled="true">
                <ds-menu-item name="{{'menu.advancedSharingWithDot'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.formatWithDot'|translate}}"  id="formatPanC" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.copy'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.createShortcut'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.rename'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.properties'|translate}}" icon="" enabled="true"></ds-menu-item>
        </ds-popmenu>
        <ds-popmenu id="popmenuD">
            <ds-menu-item name="{{'menu.open'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.openInNewWindow'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.pinToStart'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.shareWith'|translate}}"  id="" icon="" enabled="true">
                <ds-menu-item name="{{'menu.advancedSharingWithDot'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.formatWithDot'|translate}}"  id="formatPanD" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.copy'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.createShortcut'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.rename'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.properties'|translate}}" icon="" enabled="true"></ds-menu-item>
        </ds-popmenu>
        <ds-popmenu id="popmenu110">
            <ds-menu-item name="{{'menu.open'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.openInNewWindow'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.pinToStart'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.shareWith'|translate}}"  id="" icon="" enabled="true">
                <ds-menu-item name="{{'menu.advancedSharingWithDot'|translate}}"  id="" icon="" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-menu-item name="{{'menu.includeInLibrary'|translate}}"  id="" icon=""  enabled="true">
                <ds-menu-item name="{{'windows.videos'|translate}}" icon="dss-icon16-video"  enabled="true"></ds-menu-item>
                <ds-menu-item name="{{'windows.pictures'|translate}}" icon="dss-icon16-op" enabled="true"></ds-menu-item>
                <ds-menu-item name="{{'windows.documents'|translate}}" icon="dss-icon16-doc" enabled="true"></ds-menu-item>
                <ds-menu-item name="{{'windows.music'|translate}}" icon="dss-icon16-music" enabled="true"></ds-menu-item>
                <ds-separator></ds-separator>
                <ds-menu-item name="{{'menu.createNewLibrary'|translate}}"  id="" icon="" shortcut="" enabled="true"></ds-menu-item>
            </ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.formatWithDot'|translate}}"  id="formatPanD" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.copy'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.createShortcut'|translate}}" icon="" shortcut="S" enabled="true"></ds-menu-item>
            <ds-menu-item name="{{'menu.rename'|translate}}" icon="" enabled="true"></ds-menu-item>
            <ds-separator></ds-separator>
            <ds-menu-item name="{{'menu.properties'|translate}}" icon="" enabled="true"></ds-menu-item>
        </ds-popmenu>
      </ds-window>
      <ds-window ng-controller="WindowCtrlTwo" id="dsswin-format" name="{{'windows.format'|translate}} {{'windows.localDisk'|translate}}(D:)" width="300" height="500" visible="false" position="center center" resizeable="false" close="true">
        <ds-panel>
            <div class="dss-cont-format-d">
                <h3 class="dss-font-size13">{{'format.capacity'|translate}}:</h3>
                <select class="dss-margin-b20 dss-width-100per">
                    <option>120 GB</option>
                </select>
                <h3 class="dss-font-size13">{{'format.fileSystem'|translate}}:</h3>
                <select class="dss-margin-b20 dss-width-100per">
                    <option>NFTS({{'format.default'|translate}})</option>
                </select>
                <h3 class="dss-font-size13">{{'format.allocationUnitSize'|translate}}:</h3>
                <select class="dss-margin-b20 dss-width-100per">
                    <option>4096 {{'format.bytes'|translate}}</option>
                </select>
                <button class="dss-btn-nor">{{'format.restoreDefault'|translate}}</button>
                <h3 class="dss-font-size13">{{'format.volumeLabel'|translate}}:</h3>
                <input type="text" class="dss-margin-b20 dss-width-100per" />
                <form class="dss-margin-b20 dss-width-100per">
                    <fieldset>
                        <legend>{{'format.formatOptions'|translate}}</legend>
                        <ul>
                            <li><label><input type="checkbox" checked="checked" />{{'format.quickFormat'|translate}}</label></li>
                            <li><label><input type="checkbox"/>{{'format.CreateMSDOSdisk'|translate}}</label></li>
                        </ul>
                    </fieldset>
                </form>
                <span class="dss-progress dss-width-100per dss-margin-b10"><span></span></span>
                <ds-buttons>
                    <ds-button-item name="{{'btn.start'|translate}}" id="dss-progress-start"></ds-button-item>
                    <ds-button-item isActive="true" name="{{'btn.close'|translate}}" id="dss-progress-close"></ds-button-item>
                </ds-buttons>
            </div>
        </ds-panel>
      </ds-window>
      <ds-window ng-controller="WindowCtrl" icon="dss-icon16-note" id="dsswin-note" name="{{'windows.readme'|translate}}" width="300" height="300" visible="false" position="100px 100px" resizeable="false" minimize="true" maximize="false" close="true">
        <ds-menubar>
          <ds-menu-item id="menubar-file" name="{{'menu.file'|translate}}" shortcut="F" enabled="true" submenu="true">
              <ds-menu-item id="menbar-file-createnew" name="{{'menu.new'|translate}}"shortcut="Ctrl+N" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-open"  name="{{'menu.openWithDot'|translate}}" shortcut="Ctrl+O" icon="dss-icon16-open">
                  <ds-menu-item name="index.html" shortcut="Ctrl+O" icon="dss-icon16-open"></ds-menu-item>
                  <ds-menu-item name="home.html"></ds-menu-item>
                  <ds-menu-item name="page.html"></ds-menu-item>
                  <ds-menu-item name="my.html"></ds-menu-item>
              </ds-menu-item>
              <ds-menu-item id="menbar-file-save" name="{{'menu.save'|translate}}"  shortcut="Ctrl+S" ></ds-menu-item>
              <ds-menu-item id="menbar-file-saveas" name="{{'menu.saveAs'|translate}}"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-pageset" name="{{'menu.pageSetup'|translate}}" enabled="false"></ds-menu-item>
              <ds-menu-item id="menbar-file-print" name="{{'menu.print'|translate}}" shortcut="Ctrl+P" enabled="false" icon="dss-icon16-pr"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-exit"  name="{{'menu.exit'|translate}}"></ds-menu-item>
          </ds-menu-item>
          <ds-menu-item id="menubar-edit" name="{{'menu.edit'|translate}}" shortcut="E" enabled="true" submenu="true">
              <ds-menu-item id="menbar-file-undo" name="{{'menu.undo'|translate}}"  shortcut="Ctrl+Z" enabled="true"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-cut" name="{{'menu.cut'|translate}}"  shortcut="Ctrl+X" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-copy" name="{{'menu.copy'|translate}}"  shortcut="Ctrl+C" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-paste" name="{{'menu.paste'|translate}}"  shortcut="Ctrl+V" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-delete" name="{{'menu.delete'|translate}}"  shortcut="Ctrl+L" enabled="true"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-find" name="{{'menu.find'|translate}}"  shortcut="Ctrl+F" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-findnext" name="{{'menu.findNext'|translate}}"  shortcut="F3" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-replace" name="{{'menu.replace'|translate}}"  shortcut="Ctrl+H" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-goto" name="{{'menu.goto'|translate}}"  shortcut="Ctrl+G" enabled="true"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-selectall" name="{{'menu.selectAll'|translate}}"  shortcut="Ctrl+A" enabled="true"></ds-menu-item>
              <ds-menu-item id="menbar-file-datetime" name="{{'menu.timeDate'|translate}}"  shortcut="F5" enabled="true"></ds-menu-item>
          </ds-menu-item>
          <ds-menu-item id="menubar-format" name="{{'menu.format'|translate}}" shortcut="O" width="158" enabled="false" submenu="true">
              <ds-menu-item id="menbar-file-autolinewrap"  name="{{'menu.wordWrap'|translate}}"></ds-menu-item>
              <ds-menu-item id="menbar-file-font"  name="{{'menu.font'|translate}}"></ds-menu-item>
          </ds-menu-item>
          <ds-menu-item id="menubar-view" name="{{'menu.view'|translate}}" shortcut="V" width="158" enabled="true" submenu="true">
              <ds-menu-item id="menbar-file-status"  name="{{'menu.statusBar'|translate}}"></ds-menu-item>
          </ds-menu-item>
          <ds-menu-item id="menubar-help" name="{{'menu.help'|translate}}" shortcut="H" width="158" enabled="true" submenu="true">
              <ds-menu-item id="menbar-file-findhelp"  name="{{'menu.viewHelp'|translate}}"></ds-menu-item>
              <ds-separator></ds-separator>
              <ds-menu-item id="menbar-file-about"  name="{{'menu.aboutNotepad'|translate}}"></ds-menu-item>
          </ds-menu-item>
        </ds-menubar>
        <ds-panel>
          桌面上只有"计算机"和"新建记事本"两个图标绑定双击处理.
        </ds-panel>
      </ds-window>

      <ds-dialog ng-controller="WindowCtrlTwo" id="dssDialog-confirm-01" icon="dss-icon32-help" name="{{'windows.format'|translate}} {{'windows.localDisk'|translate}}(D:)" visible="false" width="410" height="130" btncancel="dssDialog-confirm-btnCancel01" btnok="dssDialog-confirm-btnOk01">
          {{'format.formatWarning'|translate}}
      </ds-dialog>
      <ds-dialog ng-controller="WindowCtrlTwo" id="dssDialog-box-01" icon="dss-icon32-about" name="{{'windows.formatting'|translate}} {{'windows.localDisk'|translate}}(D:)" visible="false" width="350" height="120" btnok="dssDialog-box-btnOk02">
          {{'format.formatFinish'|translate}}
      </ds-dialog>
      <ds-dialog ng-controller="WindowCtrlTwo" id="dssDialog-box-02" name="{{'windows.cannotFormat'|translate}}" visible="false" width="380" height="130" btnok="dssDialog-box-btnOk03">
          {{'format.cannotFormatThisDisk'|translate}}<a>{{'format.formatDiskFAQ'|translate}}</a>
      </ds-dialog>

      <ds-taskbar>
        <ds-taskbar-item id="lock001" type="lock" icon="dss-icon32-bt-file" name="窗口1-我的电脑"></ds-taskbar-item>
        <ds-taskbar-item type="lock" icon="dss-icon32-ad-code" name="窗口1-我的电脑"></ds-taskbar-item>
        <ds-taskbar-item type="lock" icon="dss-icon32-new-f" name="窗口1-我的电脑"></ds-taskbar-item>
        <ds-taskbar-item type="lock" icon="dss-icon32-about" name="窗口1-我的电脑"></ds-taskbar-item>

        <ds-taskbar-item type="default" icon="dss-icon32-computer" name="{{'windows.computer'|translate}}" targetid="dsswin-mycomputer"></ds-taskbar-item>
        <ds-taskbar-item type="default" icon="dss-icon32-note" name="{{'windows.readme'|translate}}" targetid="dsswin-note"></ds-taskbar-item>


        <ds-taskbar-item type="tray" icon="dss-icon16-arr-lt"></ds-taskbar-item>
        <ds-taskbar-item type="tray" icon="dss-icon16-flag"></ds-taskbar-item>
        <ds-taskbar-item type="tray" icon="dss-icon16-com"></ds-taskbar-item>
        <ds-taskbar-item type="tray" icon="dss-icon16-speaker"></ds-taskbar-item>
      </ds-taskbar>
    </ds-page>
    <ds-page visible="true" name="metro" id="dss-page">
      <ds-win-metro username="DST">
        <ds-metro-group>
          <ds-metro-item id="dss-return-win" name="{{'metro.desktop'|translate}}" icon="dss-pic-to-dst"></ds-metro-item>
          <ds-metro-item name="{{'metro.controlPanel'|translate}}" icon="dss-icon80-contr"></ds-metro-item>
          <ds-metro-item name="{{'metro.photo'|translate}}" icon="dss-icon80-pic"></ds-metro-item>
          <ds-metro-item name="{{'metro.calendar'|translate}}" icon="dss-icon80-date"></ds-metro-item>
          <ds-metro-item name="{{'metro.friend'|translate}}" icon="dss-icon80-buddy"></ds-metro-item>
          <ds-metro-item name="{{'metro.message'|translate}}" icon="dss-icon80-news" small="true"></ds-metro-item>
          <ds-metro-item name="{{'metro.ie'|translate}}" icon="dss-icon80-ie" small="true"></ds-metro-item>
          <ds-metro-item name="{{'metro.map'|translate}}" icon="dss-icon80-map"></ds-metro-item>
          <ds-metro-item name="{{'metro.store'|translate}}" icon="dss-icon80-ap"></ds-metro-item>
        </ds-metro-group>
        <ds-metro-group>
          <ds-metro-item name="{{'metro.travel'|translate}}" icon="dss-pic-trav"></ds-metro-item>
          <ds-metro-item name="{{'metro.photo'|translate}}" icon="dss-icon80-pic"></ds-metro-item>
          <ds-metro-item name="{{'metro.music'|translate}}" icon="dss-icon80-musi" small="true"></ds-metro-item>
          <ds-metro-item name="{{'metro.game'|translate}}" icon="dss-icon80-game" small="true"></ds-metro-item>
          <ds-metro-item name="{{'metro.calendar'|translate}}" icon="dss-icon80-date"></ds-metro-item>
          <ds-metro-item name="{{'metro.camera'|translate}}" icon="dss-icon80-camera"></ds-metro-item>
          <ds-metro-item name="{{'metro.video'|translate}}" icon="dss-icon80-vedio"></ds-metro-item>
          <ds-metro-item name="{{'metro.skyDrive'|translate}}" icon="dss-icon80-sky"></ds-metro-item>
          <ds-metro-item name="{{'metro.travel'|translate}}" icon="dss-icon80-trav"></ds-metro-item>
        </ds-metro-group>
        <ds-metro-group>
          <ds-metro-item name="病毒隔离区" icon="dss-icon80-virus" small="true"></ds-metro-item>
          <ds-metro-item name="360杀毒" icon="dss-icon80-antivirus" small="true"></ds-metro-item>
          <ds-metro-item name="安全卫士" icon="dss-icon80-360" small="true"></ds-metro-item>
          <ds-metro-item name="防火墙" icon="dss-icon80-firewall" small="true"></ds-metro-item>
          <ds-metro-item name="软件卸载" icon="dss-icon80-unin" small="true"></ds-metro-item>
          <ds-metro-item name="IE" icon="dss-icon80-360" small="true"></ds-metro-item>
          <ds-metro-item name="开机时间" icon="dss-icon80-360" small="true"></ds-metro-item>
          <ds-metro-item name="卸载" icon="dss-icon80-uninqq" small="true"></ds-metro-item>
        </ds-metro-group>
      </ds-win-metro>
    </ds-page>
  </ds-pages>
</ds-desktop>